body{
    margin: 0;
    text-align: center;
}

header p{
    display: inline-block;
}

h1{
    color: grey;
}

li{
    list-style: none;
    background-color: aqua;
    width: 390px;
    height: 45px;
    margin: 5px auto;
    font-weight: bold;
    position: relative;
    font-size: 20px;
}

li:hover{
    background-color: grey;
}

p{
    color: white;
    display: inline-block;
}

#first{
    position:absolute;
    left: 5px;
}

#second{
    position: absolute;
    right: 5px;
}

#add{
    color: white;
    background-color: grey;
}

form{
    margin-left: 43px;
}

#icon{
    color: grey;
    font-size: 35px;
}

#delete p{
    color: red;
    position: absolute;
    right: -24px;
}